body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  height: 500px;
}

header nav {
  height: 100px;
  background-color: white;
  box-shadow: none;
}

nav .brand-logo {
  height: 100px;
  left: 15%;
}

nav .brand-logo img {
  width: 52px;
}

nav .sidenav-trigger {
  color: gray;
}

header nav ul {
  height: 100px;
}

header ul a {
  color: gray;
}

.header-main {
  width: 100%;
  height: 400px;
  background-image: url('../assets/images/Banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input-field.input--container {
  height: 100px;
  float: none;
  display: flex;
  margin: 0 auto;
} 

.input-field > #search {
  margin-top: 25px;
  padding-left: 40px;
}

.input-field i {
  margin-top: 35px;
}

footer.page-footer { /* estilos personalizados, evitar problemas con los estilos de materialize*/
  height: 80px;
  background-color: gray;
  bottom: 0;
}

/* post.html */
.post--img {
  width: 100%;
  height: 400px;
  background-image: url('https://picsum.photos/1000/400');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}